<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-6 my-2 col-md-6 col-lg-5 col-xl-6">
                        <a class="navbar-brand" href="{{ url_for('login') }}">
                            <img src="../../static/img/Online-converter.png" alt="Online Converter" height="30"
                                class="mx-3">
                        </a>
                    </div>
                    <div class="col-5 col-md-4 col-lg-3 col-xl-3 d-flex justify-content-end">
                        <div class="text-white m-2">username</div>
                        <a href="{{ url_for('login') }}">
                            <img src="../../static/img/avatar.png" alt="Online Converter" height="40">
                        </a>
                    </div>
                    <div class="col-1 col-md-2 col-lg-4 col-xl-3">
                        <button class="navbar-toggler dropstart" type="button" data-bs-toggle="collapse" 
                            data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                            <div class="navbar-nav">
                                <a class="nav-link" href="{{ url_for('tasks') }}">Tasks</a>
                                <a class="nav-link" href="#">Log Out</a>
                                <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                                <a class="nav-link" href="{{ url_for('signUp') }}">Signup</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>